/*affix*/
body {
    position: relative;
}
.affix {
    top: 0;
    width: 100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    background-color: #6633ff;
    border-color: #6633ff;
}

.affix a {
    color: #fff !important;
    padding: 15px !important;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.affix-top a {
    padding: 20px !important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover,
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover,
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: #4a25ba;
}

.navbar-nav>li>.dropdown-menu {
    background-color: #6633ff;
}

.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}

/*my styles*/
#header {
    height: 200px;
    background: #6633ff;
}

#footer {
    height: 200px;
    background: #9933CC;
}

h1 {
    padding-top: 60px;
    font-weight: bold;
    color: #333;
}

#section1, #section2, #section3 {
    height: 1000px;
    border-radius: 5px;
    padding: 50px 10px 10px;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 28px;
    text-shadow: 1px 1px 3px #000;
}

#section31, #section32, #section33 {
    height: 250px;
    padding: 50px 5px 5px;
    margin-bottom: 10px;
    font-size: 16px;
}


#section1 {
    background: #cc00cc;
}

#section2 {
    background: #ff9999;
}

#section3 {
    background: #ffff00;
}

#section31 {
    background: #00ff00;
}

#section32 {
    background: #00ff66;
}

#section33 {
    background: #ffcc66;
}